<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgy.learn.bootmybatisredisactivemq.mapper.ParentsMapper">
    <insert id="addParents" parameterType="map">
        insert into parents(fatherName, motherName) values(#{fatherName}, #{motherName});
    </insert>

    <delete id="deleteParents" parameterType="integer">
        delete from parents where parentsId = #{parentsId};
    </delete>

    <!-- set的动态SQL，注意逗号-->
    <update id="updateParents" parameterType="com.zgy.learn.bootmybatisredisactivemq.pojo.Parents">
        update parents
        <set>
            <if test="fatherName !=null">
                fatherName =#{fatherName},
            </if>
            <if test="motherName !=null">
                motherName =#{motherName}
            </if>
        </set>
        <where>
            parentsId = #{parentsId}
        </where>
    </update>

    <!-- where和if的动态SQL-->
    <select id="getParentsByFatherMother" resultType="com.zgy.learn.bootmybatisredisactivemq.pojo.Parents">
        select parentsId, fatherName, motherName from parents
        <where>
            <if test="fatherName != null">
                fatherName = #{fatherName}
            </if>
            <if test="motherName != null">
                and motherName = #{motherName}
            </if>
        </where>
    </select>

</mapper>