<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Springboot2.x和Mybatis的整合</title>
        <style>
            #big{
                font-family: 方正兰亭超细黑简体;
                font-size: x-large;
                color: deepskyblue;
            }
            a#allstudent{
                font-family: 方正兰亭超细黑简体;
                font-size: x-large;
                color: lightblue;
            }
            a:hover{
                color: red;
            }
        </style>
    </head>
    <body>
        <p id="big">Springboot2.x和Mybatis的整合</p>
        <a id="allstudent" href="/student/getallstudent">获取所有学生</a><br>
        <form action="/student/getonestudent" method="get">
            stId: <input id="stId" type="text" name="stId"/>&emsp;
            <input type="submit" 提交查询>
        </form>

    </body>
</html>